# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug logs
npm-debug.log*

# local env files
.env*.local
.env

# deployment
.vercel

# OpenNext
/.open-next

# Local dev
/.vscode

# wrangler
.wrangler
.dev.vars*

# custom
/.cloudflared
